body{
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    }
    
    div#navbar {
     height: 40px;
     width: 600px;
     background-repeat:repeat-x;
     font-family: Arial, Helvetica, sans-serif;
     background-color: whitesmoke;
     align-items: center;
     align-content: center;
     text-align: center;
    }
    
    div#navbar ul {
        line-height: 40px;	
        font-size: 20px;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    
    div#navbar li {
     list-style-type: none;
     display: inline;
     padding-right: 15px;
     padding-left: 15px;
    }
    
    div#navbar li a {
     text-decoration: none;
    }
    
    div#navbar li a:hover{
     color: white;
     border-bottom: solid 1px;
     background-color: red;
    }
    
    label {
      display: block;
      margin: 5px 0;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    
    td, th {
      padding: 5px 30px 5px 30px;
      border-bottom: 1px solid #aaa;
    }
    
    h1{
        color:red;
    }
    
    
    h3{
        color:#ff0000;
    
    }
    
    footer{
        width:600px;
        border-top: dotted 1px;
    }
    
    p{
        width: 600px;
    }

    logo-nba{
      width: 600px;
    }

  